html,
body {
  background: url("../graphics/background.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
}

.clue-list-item {
  background-color: #555;
}

.MuiTooltip-tooltipPlacementRight {
  /* Avoid showing empty tooltip box because of rendered float clue preview */
  background-color: transparent !important;
}
