 html,
 body {
   height: 100%;
   background: url("https://images.unsplash.com/photo-1583425921686-c5daf5f49e4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80")
     center;
   background-size: cover;
   background-position: cover;
 }